@{
    ViewData["Title"] = "Нүүр Хуудас";
}

<div class="text-center">
    <h1 class="display-4">ҮБХИС МТТ цахим хуудас тавтай морил.</h1>
    <p>ҮБХИС <a href="http://mndu.gov.mn/bhis1/mn/%d0%bd%d2%af%d2%af%d1%80/">цахим хуудас</a>.</p>
    <p>Энэхүү цахим хуудас нь МТТ оюутнууд цахимаар мэдээлэл авах боломжтой.</p>
</div>
